<div>
  <div class="formTitle">
    <div>{{ !isUpdate ? "Add " : "Update" }} Employee</div>
  </div>
  <form
    #form="ngForm"
    (ngSubmit)="!isUpdate ? addEmployee() : updateEmployee()"
  >
    <div class="input-name">
      <input
        id="name"
        name="name"
        placeholder="Emp Name"
        [(ngModel)]="addModel.name"
        required
      />
    </div>

    <div class="input-name">
      <textarea
        id="department"
        name="department"
        placeholder="Department"
        [(ngModel)]="addModel.department"
        rows="4"
        cols="65"
        required
      ></textarea>
    </div>

    <div class="input-name">
      <input
        id="salary"
        name="salary"
        type="number"
        placeholder="Salary"
        [(ngModel)]="addModel.salary"
        required
      />
    </div>

    <button type="submit" class="saveBtn" [disabled]="!form.valid">
      {{ !isUpdate ? "Save" : "Update" }}
    </button>
  </form>

  <div class="radioBtns">
    <input type="radio" id="max" name="salary" (change)="salary('max')" />
    <label for="max">Max Salary</label>
    <input type="radio" id="min" name="salary" (change)="salary('min')" />
    <label for="min">Min Salary</label>
  </div>
  <select (ngModelChange)="dept($event)" [(ngModel)]="department">
    <option selected disabled value="">Select Department</option>
    <option value="frontend">FrontEnd</option>
    <option value="backend">Backend</option>
  </select>

  <table>
    <tr>
      <th *ngFor="let colHeading of tableColumnHeadings">
        {{ colHeading }}
      </th>
    </tr>
    <tr *ngFor="let card of filteredData; let i = index">
      <td>{{ card.name }}</td>
      <td>{{ card.department }}</td>
      <td>{{ card.salary }}</td>
      <td>
        <button (click)="editEmployee(i)">Update</button>
        <button (click)="deleteEmployee(i)">Delete</button>
      </td>
    </tr>
  </table>
</div>
